[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DIFplus"]
	path = DIFplus
	url = https://github.com/cran/DIFplus
[submodule "ROCpsych"]
	path = ROCpsych
	url = https://github.com/cran/ROCpsych
[submodule "subscore"]
	path = subscore
	url = https://github.com/cran/subscore
[submodule "TestDataImputation"]
	path = TestDataImputation
	url = https://github.com/cran/TestDataImputation
