[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DIFplus"]
	path = DIFplus
	url = https://github.com/daiscode/difplus
[submodule "ROCpsych"]
	path = ROCpsych
	url = https://github.com/daiscode/rocpsych
[submodule "TestDataImputation"]
	path = TestDataImputation
	url = https://github.com/daiscode/testdataimputation
[submodule "subscore"]
	path = subscore
	url = https://github.com/daiscode/subscore
